
{{#extends 'base'}}

{{#block "content"}}
        <h1>Welcome to My Home Page</h1>
        <p>Here's a photo of a cute puppy</p>
        {{!-- All Static files will be relative to the /public folder --}}
        <img src="puppy.webp"/>
{{/block}}
   
{{#block "js"}}
    <script src="script.js"></script>
{{/block}}

{{/extends}}